
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo "index" class="brand"}}{{Site.title}}{{/linkTo}}
      <div class="nav-collapse collapse">
        <ul class="nav">
          {{#linkTo "index" tagName="li"}}<a {{bindAttr href="view.href"}}>Home</a>{{/linkTo}}
          {{#linkTo "about" tagName="li"}}<a {{bindAttr href="view.href"}}>About</a>{{/linkTo}}
          <li><a href="https://github.com/benja2729">GitHub</a></li>
          {{#view Site.ModalTrigger tagName="li"}}<a>Contact</a>{{/view}}
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container page-wrap">

  {{outlet}}

  <footer>
    <p>{{Site.copyright}}</p>
  </footer>

</div> <!-- /container -->
